API_ID=34165266
API_HASH=64944b00adb2795dad65563fa5facb13
BOT_TOKEN=8617004699:AAH_0k3LJeuIHJvAGGerREpFSm2yOHaAcdk
LOGGER_ID=1002966367035
MONGO_DB_URI=mongodb+srv://Elevenyts:Elevenyts@cluster0.vuyc1u2.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7642025299
STRING_SESSION=BQE1hZwAbJUtdmFL2MKEQCms930eUEZ7m_hagE3sdRLrHlqU50YOYlKcFZw7EP0ev2egPxznxeYHQpxgu7rkIzB9bfSGLLFVhKKU9E5pVvOQo7jvvji5H8-pKwmWX3MCvmzcyY2d4IbesdeVXuNVHRphgXFvBr4PjnTfjQxeYe2hwl6Ogr4xpTW2kSBMmMYikdQEjWjIqnlFsFc1RXs7c4Q74XgTjWM3bjjIbQSKuxj4Y61GWb97-Ft7qGghSwbsGfWlTUKTPCqRrDhaC2hBQPyorJI90CFXjCgJOU62zb86nOC4UxCFdMSWxYTxlHjrCfpC65Fs7CbPJjjYizLRO_eiVVxY0wAAAAHHgA1TAA
